*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
}
header .logo{
    position: relative;
    width: 20%;
    cursor: pointer;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .texte{
    position: relative;
    max-width: 35%;
}
.container .texte h2{
    color: #fff;
    font-size: 55px;
    line-height: 65px;
    font-weight: 400;
}
.container .texte h2 div{
    color: #cc0000;
    font-size: 60px;
    font-weight: 900;
}
.container .texte p{
    color: #fff;
}
.container .texte a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    color: snow;
    background: #cc0000;
    border-radius: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}
.container .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding: 1px;
    margin-top: 50px;
}
.container .imgBox img{
    max-width: 100%;
}
.catalogue{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.catalogue li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transform: 0.5s;
}
.catalogue li:hover{
    transform: translateY(-20px);
}
.catalogue li img{
    max-width: 130px;
}
.social{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social li{
    list-style: none;
}
.social li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}
.social li img{
    max-width: 50px;
}
.cercle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cc0000;
    clip-path: circle(40% at right 35%);
}
@media (max-width: 768px) {
    .cercle {
        clip-path: circle(40% at right 50%);
    }
}
